<p id="notice"><%= notice %></p>


  <center><coolheader><%= @event.name %></coolheader>


<h3>Locations</h3>

<table class="table1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.tag %></td>
        <td><%= location.event %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<h3>Participants</h3>

<table class="table1">
  <thead>
    <tr>
      <th>Email</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.participants.each do |participant| %>
      <tr>
        <td><%= participant.email %></td>
        <td><%= participant.event %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</center>
